.features {
    grid-column: center-start / center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: start;

    .heading-4 {
        align-self: center;
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        fill: $color-primary;
        grid-row: 1 / span 2;
    }

    &__text {
        grid-column: 2 / 3;
    }
}
