.homes {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
    margin: 15vh 0;
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    column-gap: 2rem;
    background-color: $color-grey-light-1;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);

    @include respond(50em) {
        row-gap: 2.5rem;
    }

    &__img {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    &__name {
        text-transform: capitalize;
        background-color: $color-secondary;
        color: $color-grey-light-1;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        padding: 1rem;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-self: end;
        width: 80%;
        justify-self: center;
        transform: translateY(50%);

        @include respond(50em) {
            font-size: 1.8rem;
        }

        @include respond(31.25em) {
            font-size: 1.4rem;
        }
    }

    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        display: flex;
        gap: 1.5rem;
        margin-left: 1.5rem;

        @include respond(50em) {
            margin-top: 0;
            grid-column: 1 / -1;
        }
    }

    &__location {
        @include respond(50em) {
            margin-top: 2rem;
        }
    }

    &__location,
    &__area {
        @include respond(25em) {
            grid-column: 1 / 2;
        }
    }

    &__rooms,
    &__price {
        @include respond(25em) {
            grid-column: 2 / 3;
        }
    }

    &__rooms {
        @include respond(25em) {
            margin-top: 2rem;
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-primary;

        &--heart {
            width: 3rem;
            height: 3rem;
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            justify-self: end;
            margin: 1rem;
            cursor: pointer;
        }
    }

    &__btn {
        grid-column: 1 / -1;
    }
}
